<h1> Welcome!</h1>
<div class = "container">
    <p>welcome to out awesome App, {{this.name}}!</p>
    You can manage your todos <a routerLink="/todos">here</a>
</div>

<div class = "container">
    click here to get a customized welcome message
    <button (click)="getCustomWelcomeMessageWithParameter()" class= "btn btn-success">Get Welcome Message</button>
</div>

<div class = "container" >
   <h2> Your customized welcome message</h2>
   {{welcomeMessage}}
    <!-- <button (click)="getCustomWelcomeMessage()" class= "btn btn-success">Get Welcome Message</button> -->
</div>
